{% extends 'artisttemplate/artistbase.html' %}
{% block content %}



<style>
    .box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}


a {
  text-decoration: none;
}

.popover__title {
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
<!--  color: rgb(228, 68, 68);-->
  text-align: center;
  padding: -6px 0;
}

.popover__wrapper {
  position: relative;
  margin-top: 0rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -25px;
  top:55px;
  transform: translate(-10px, 10px);
  background-color: #bfbfbf;
  padding: 1.8rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  padding:30px;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 70px 70px 70px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
  width:200px;
}

</style>
{% if view %}
<div style="margin-left:300px;">{% for message in messages %}
                <div class="alert alert-success d-flex align-items-center" style="color:red;background:rgba(240, 232, 232, 0.536);width:50%;height:50px;padding:20px;text-align:center; border-radius:10px;" role="alert">
                    {{message}}
                </div>
                {% endfor %}</div>

<div class="row" style="display:flex;flex-direction:row;gap:10px;margin-left:5px;text-align:center;">

    {% for i in view %}



                  {% if i.song_artist.name.two == request.user %}

       <div class="card" style="width: 20rem;height:70%;background-color:rgba(27, 53, 86, 0.703);">



                   <img src="{{i.song_image.url}}" style="width:320px;height:160px;"><br>
              <div class="card-body">
                   <h1 class="card-title" style="color:aqua;">{{ i.song_name }}</h1>
                   <h3 class="card-title" style="color:aqua;">{{ i.song_movie }}</h3><br>

                  <h4 class="card-title" style="color:white;">Singers: {{i.song_singers}}</h4><br>

                          <audio controls>
                           <source src="{% if i.song %}{{ i.song.url }}{% else %}{{i.song.link}}{%endif%}" type="audio/mp3">
                          </audio>




                  <div class="row"  style="gap:15px;margin-left:50px;">
                      <div class="popover__wrapper">
<a href="#">
                                            <a href="{% url 'songupdate' i.id %}">
                                            <button class="popover__title" style="width:50px;" ><i class="fa-solid fa-pen-to-square"></i></button></a>
</a>

  <div class="popover__content">
    <p class="popover__message">Update your song</p>

  </div>
</div>




                          <a class="button" href="#popup1_{{i.id}}"><button style="width:65px;height:30px;" class="btn btn-outline-dark"><i class="fa-solid fa-trash"></i></button></a>
                              <div id="popup1_{{i.id}}" class="overlay">
                                 <div class="popup">
                                      <h2>Sure want to Delete?</h2>

                                          <div style="display:flex;flex-direction:row;gap:30px;padding:10px;margin-left:300px;">
                                          <a  href="#"><span style="font-size:20px;font-display:bold;">NO</span></a>
                          <form action="{% url 'songdelete' i.id %}" method="POST" >
                            {% csrf_token %}<button type="submit" ><span style="font-size:20px;">YES</span></button>
                          </form>

                          </div>


                      </div>


</div>

                       <div class="popover__wrapper">
<a href="#">
                      <a href="{% url 'songaddtomplaylist' i.id %}"><button class="popover__title" style="width:65px;height:40px;" ><i class="fa-regular fa-square-plus"></i></button></a>


</a>

  <div class="popover__content">
    <p class="popover__message">Add song to your movie playlist</p>

  </div>
</div>




                           </div>
               </div>

        </div>
{% endif %}

    {% endfor %}
</div>
{% else %}
<div style="background:rgba(240, 232, 232, 0.536);width:50%;height:30px;padding:30px;text-align:center;border-radius:10px;margin:250px;"><h3 style="color:black;">No item Found</h3></div>
{% endif %}
{% endblock %}