{% extends 'artisttemplate/artistbase.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% if view %}
<table class="table"  width="100%" style="background-color:lightblue;text-align:center;border-radius:6px;">
    <thead class="table table-striped" style="font-size:20px;">
    <tr>
        <th scope="col">NO</th>
        <th scope="col">SONG </th>
        <th scope="col">PLAY</th>
        <th scope="col">REMOVE FROM MOVIE PLAYLIST</th>
    </tr>
    </thead>


   <tbody style="background-color:lightblue;font-size:20px;">
   {% for i  in view %}

    <tr style="height:25px;">

         <td>{{forloop.counter}}</td>
        <td>{{ i.song2.song_name}} </td>
        <td> <a href=" {% url 'artistmsongplay' i.id %} " ><i style="color:blue;" class="fa-regular fa-circle-play"></i></a></td>

      <td><form action="{% url 'mplaylistsongdelete' i.id %}" method="POST" >
                    {% csrf_token %}<button type="submit" ><i class="fa-regular fa-trash-can"></i></button>
                   </form></td>


    </tr>
    {% endfor %}

</tbody>

    </table>
 {% else %}
   <div style="margin:100px;text-align:center;"><h1 style="color:lightblue;font-size:60px;">Movie playlist is empty </h1><br><h1 style="color:lightblue;">Add your song to view here.</h1></div>
   {% endif %}


{% endblock %}