{% extends 'artisttemplate/artistbase.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container" style="background:rgba(27, 53, 86, 0.703);text-align:center; height:400px;width:70%;">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h1 style="font-style:bold;color:white;text-align:center;">UPDATE YOUR NOTIFICATION</h1><br>
        </div><hr><br>
        <div class="col">
            <form method="POST" >
                {% csrf_token %}
                <div style="display:flex;flex-direction:column;gap:10px;">
                    {{up|crispy}}
                </div>
                <br><input type="submit" class="btn btn-dark btn-block" value="Update"/>

            </form>
        </div>
    </div>
</div>
{% endblock %}