{% extends 'admintemplate/adminbase.html' %}
{% block content %}
<table class="table" style="width:100%;background:rgba(27, 53, 86, 0.703);color:white;">
    <thead class="table table-striped" style="font-size:20px;">
    <tr>
        <th scope="col">NO</th>
        <th scope="col">DATE</th>
        <th scope="col">ARTIST</th>
        <th scope="col">NOTIFICATION</th>



    </tr>
    </thead>
   <tbody>

        {% for i in view %}
    <tr>
         <td>{{forloop.counter}}</td>
         <td>{{ i.date}} </td>
         <td>{{i.user}}  </td>
        <td>{{i.description}}</td>



    </tr>

       {% endfor %}
    </tbody>
</table>
{% endblock %}