{% extends 'admintemplate/adminbase.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div style="background:rgba(27, 53, 86, 0.703);width:70%;margin-left:200px; height:400px;padding:0 150px 0 150px;">

    <h1 style="text-align:center;color:white;">ADD ARTIST TO THE LIST</h1><br>


<div class="card" style="text-align:center;">
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                <div style="display:flex;flex-direction:column;gap:20px;color:skyblue;">
                {{add}}
                  </div>

                <br><br><input class="btn btn-outline-dark" type="submit" value="Add to the list">
            </form>
    </div>

</div>



{% endblock %}